#student-select-header {
    .nav-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: lightgray;
        width: 100vw;
        padding: 10px 0;
        box-sizing: border-box;
        margin: 0;
        font-family: Open Sans Condensed, sans-serif;
        font-size: 28px;
        font-weight: lighter;
        color: var(--text-color);
    }

    .header-student {
        text-align: center;
        flex: 1;
        cursor: pointer;
    }

    .button-right {
      text-align: right;
    }
  
    .button-left {
      text-align: left;
    }
  
    .button {
        padding: 10px;
    }

    .dropdown {
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translate(-50%, 0);
        min-width: 300px;
        width: 33.33%;
        background-color: white;
        border: 1px solid #ccc;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        overflow-x: hidden;
        max-height: 600px;
        overflow-y: scroll;
        background-color: white;
        border: 1px solid gray;
        z-index: 2;
    }

    .dropdown-item {
        padding: 10px;
        display: block;
        text-align: center;
    }

    .dropdown-item-selected {
        background-color: lightgray;
    }
}