*~
\#*
.\#*
*__pycache__*
webapp/logs
webapp/static_data/teachers.yaml
creds.yaml
CREDS.YAML
uncommitted
extension.crx
extension.pem
extension.zip
*egg-info*
public_key
*/dist
learning_observer/learning_observer/static_data/teachers.yaml
learning_observer/learning_observer/logs/
learning_observer/learning_observer/static/3rd_party/
learning_observer/learning_observer/static_data/course_lists/
learning_observer/learning_observer/static_data/course_rosters/
learning_observer/learning_observer/static_data/repos/
learning_observer/learning_observer/static_data/dash_assets/
learning_observer/learning_observer/static_data/courses.json
learning_observer/learning_observer/static_data/students.json
learning_observer/passwd*
--*
.venv/
.vscode/
build/
dist/
node_modules
*.orig
lo_event*tgz
*.log
LanguageTool-stable.zip
LanguageTool-5.4
package-lock.json
learning_observer/learning_observer/static_data/google/
learning_observer/learning_observer/static_data/admins.yaml
.ipynb_checkpoints/
.eggs/
.next/