pandas
ipython
aiofiles
asyncpg
pyyaml
aiohttp
aiohttp_cors
cython
numpy
scipy
pyasn1
aiodns
lxml
pep8
pylint
pycodestyle
google-auth
redis
asyncio_redis
docopt
pathvalidate
names
git+https://github.com/testlabauto/loremipsum.git@b7bd71a6651207ef88993045cd755f20747f2a1e#egg=loremipsmum
git+https://github.com/pmitros/tsvx.git@09bf7f33107f66413d929075a8b54c36ca581dae#egg=tsvx
