aiodns
aiofiles
aiohttp
aiohttp_cors
aiohttp_session
aiohttp_wsgi
asyncio_redis
asyncpg
cryptography
cython
dash
dash-extensions
dash_renderjson
docopt
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
faker
filetype
git+https://github.com/pmitros/tsvx.git@09bf7f33107f66413d929075a8b54c36ca581dae#egg=tsvx
git+https://github.com/testlabauto/loremipsum.git@b7bd71a6651207ef88993045cd755f20747f2a1e#egg=loremipsum
google-auth
ipython
invoke
lxml
myst_parser
names
numpy
pandas
pathvalidate
pep8
psutil
pyasn1
py-bcrypt
pycodestyle
pylint
pytest
pyyaml
recordclass
redis
scipy
slixmpp
sphinx
svgwrite
uvloop
watchdog
-e gitserve
-e learning_observer
