writing_observer @ git+https://github.com/ETS-Next-Gen/writing_observer.git#subdirectory=modules/writing_observer/
wo_highlight_dashboard @ git+https://github.com/ETS-Next-Gen/writing_observer.git#subdirectory=modules/wo_highlight_dashboard/
wo_common_student_errors @ git+https://github.com/ETS-Next-Gen/writing_observer.git#subdirectory=modules/wo_common_student_errors/
wo_bulk_essay_analysis @ git+https://github.com/ETS-Next-Gen/writing_observer.git#subdirectory=modules/wo_bulk_essay_analysis/
