.individual-student-feedback {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  min-height: 250px;
}

.prompt-variable-tag button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.prompt-variable-tag>div:last-child {
  display: inline;
}
