
.errors-per-word-tooltip {
    width: 250px;
    white-space: normal;
}

.individual-student-loading {
    .loaded {
        display: none;
    }

    .loading {
        display: block;
    }
}

.individual-student-loaded {
    .loaded {
        display: block;
    }

    .loading {
        display: none;
    }
}

.student-activity-status-row {
    .student-name-tag {
        display: inline-block;
        text-decoration: none;
        color: var(--bs-body-color);
    }

    .activity-status-link {
        display: flex;
        width: auto;
    }
}

.categorical-table-headers {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: end;
}