/** Set the width/wrapping for the errors per text length hover information */
.errors-per-word-tooltip {
    width: 250px;
    white-space: normal;
}

/** CSS for displaying a spinner or not for the individual students */
.individual-student-loading {
    .loaded {
        display: none;
    }

    .loading {
        display: block;
    }
}

.individual-student-loaded {
    .loaded {
        display: block;
    }

    .loading {
        display: none;
    }
}

/** Adjust the student activity name tag information */
.student-activity-status-row {
    .student-name-tag {
        display: inline-block;
        text-decoration: none;
        color: var(--bs-body-color);
    }

    .activity-status-link {
        display: flex;
        width: auto;
    }
}

/** Make the headers of the student table look nice */
.categorical-table-headers {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: end;
}