# We use curly-braces for things which ought to be filled in like passwords and secret keys:
#
# 1) These are friendly to templating languages and Python's str.format()
# 2) These generate dictionaries, and we can throw an exception if unset. If we forget to
#    throw an exception, these won't give a valid string
xmpp:
  sink: # Receives messages. We'll need many of these.
    jid: sink@localhost
    password: {xmpp-sink-password}
  source: # Sends messages.
    jid: source@localhost
    password: {xmpp-source-password}
  stream: # For debugging
    jid: stream@localhost
    password: {xmpp-stream-password}
auth:
  google-oauth:  # Remove if you're not using Google auth
    web:
      client_id: {google-oauth-client-id}
      project_id: {google-oauth-project-id}
      auth_uri: https://accounts.google.com/o/oauth2/auth
      token_uri: https://oauth2.googleapis.com/token
      auth_provider_x509_cert_url: https://www.googleapis.com/oauth2/v1/certs
      client_secret: {google-client-secret}
      javascript_origins: ["{url}"]
  password-file: passwd.lo  # Remove if you're not using a password file
                            # Otherwise, create one with lo_passwd.py
pubsub:
    type: stub  # stub for in-memory debugging, redis for small-scale prod. xmpp will bring scale
kvs:
    # stub for in-memory debugging
    # redis-ephemeral for redis / debugging (object disappear)
    # redis for deploy
    type: stub
    # If using redis-ephemeral, persist objects for 60s = 1 minute
    # I typically use:
    # * 1-10s for test cases
    # * 1-5 minutes for interactive debugging
    # * 6-24 hours for development
    expiry: 60
roster-data:
    source: filesystem  # Can be set to google-api, test, or filesystem
aio:
    session_secret: {unique-aio-session-key}  # This should be a unique secret key for YOUR deployment
    session_max_age: 3600  # In seconds. This may be short for dev (e.g. <5 mins) and long for deploy (or set to null, for lifetime of the browser)
config:
    run_mode: dev   # "dev" versus "deploy". E.g. Do we crash on errors? Or log them and keep going?
    debug: []  # add "tracemalloc" to the list to enable memory leak debugging
               # add "logging" to have extra stuff on the console AND log exceptions
theme:
    server-name: Learning Observer
    front-page-pitch: Learning Observer is an experimental dashboard. If you'd like to be part of the experiment, please contact us. If you're already part of the experiment, log in!
    logo-big: /static/media/logo-clean.jpg