name: Pytest

on:
  push:
    branches:
    - pytest-debugging

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10"]
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '16.x'
    - name: Install dependencies
      run: |
        node -v
        python -m pip install --upgrade pip
        pip install --default-timeout=1000 -r requirements.txt
        pip install modules/writing_observer/
        pip -v install modules/lo_dash_react_components/
        pip install modules/wo_highlight_dashboard/
    - name: Unit testing with pytest
      run: |
        pytest modules/wo_highlight_dashboard/
